:root {
  --corFundo: #7D55C7;
  --corLetras: #ffffff;
  --corBotao: #9F73E6;
  /* --corDestaque: rgba(159, 115, 230, 0.7); */
  --corDestaque: rgba(0, 0, 0, 0.6)
}

/* :root {*/
/* --corFundo: #7573e6; */
/* --corBotao: #5586c7; */
/* --corLetras: #ffffff; */
/* --corDestaque: rgba(159, 115, 230, 0.7) */
/* --corDestaque: rgba(0, 0, 0, 0.6) */
/* }  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--corFundo); */
}

h3,
div a {
  text-decoration: none;
  /* cursor: pointer; */
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* max-width: 1600px; */
  background: var(--corFundo);
  color: var(--corLetras);
}

.center {
  width: 100%;
  max-width: 1600px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

.menu {
  flex: 1;
  /* border: 1px solid #adbe17; */
  align-items: center;
  font-size: 35px;
}

.menu svg {
  height: 30px;
  width: 48px;
  padding: 0px 6px;
  fill: var(--corLetras);
}

.logo {
  flex: 3;
  align-items: center;
  text-align: center;
}

.logo h2 span {
  font-weight: 100;
}

.form-busca {
  flex: 1;
  padding: 10px 10px;
  border-radius: 5px;
  align-items: center;
  background-color: var(--corBotao);
}

.form-busca form {
  display: flex;
}

.form-busca form svg {
  width: 34px;
  height: 28px;
  padding: 0px 6px;
  fill: var(--corLetras);
}

.form-busca form input {
  border-radius: 5px;
  padding: 0 6px;
  background-color: transparent;
  color: var(--corLetras);
  border: none;
  /* font-size: 20px; */
}

.form-busca form input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.form-busca form input::placeholder {
  color: var(--corLetras)
}

.noticia-destaque {

  width: 100%;
  background: var(--corLetras);
  display: flex;
  justify-content: center;
}

.noticia-destaque .center .img-destaque {
  position: relative;
  width: 80%;
  max-width: 1600px;
  border-radius: 5px;
}

.noticia-destaque .center .img-destaque .titulo-destaque-descricao {
  position: absolute;
  width: 100%;
  max-width: 1600px;
  padding: 15px;
  bottom: 0;
  z-index: 1;
  border-radius: 5px;
  /* background-color: rgba(0, 0, 0, 0.4); */
  color: var(--corLetras);
  background-color: var(--corDestaque);
}

.noticia-destaque .center .img-destaque .titulo-destaque-descricao p {
  text-align: justify;

}

.noticia-destaque .center .img-destaque img {
  width: 100%;
  max-width: 1600px;
  border-radius: 5px;
}


.noticias-ultimas {
  display: flex;
  width: 100%;
  justify-content: center;
  /* max-width: 1600px; */
  background: var(--corFundo);
}

.center-coluna {
  display: flex;
  max-width: 1600px;
  padding: 0px 20px;
  flex-direction: column;
  /* padding: 20px 0px; */
}

.noticias-ultimas .center-coluna .center-coluna-h2 {
  text-align: center;
  align-items: center;
  padding: 40px 20px;
  color: var(--corLetras);
}

.noticias-ultimas .center-coluna .noticia {
  flex: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.noticias-ultimas .center-coluna .noticia .ultimas {
  flex: 2;
  display: flex;
  flex-direction: row;
  /* padding: 0px 10px; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
}

.noticias-ultimas .center-coluna .noticia .ultimas .materia {
  /* display: flex; */
  flex: 45%;
  /* flex: 2; */
  background: var(--corLetras);
  border-radius: 10px;
  margin: 0px 25px 25px 0px;
}

.materia img {
  width: 100%;
}

.materia .ler-noticia {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ler-noticia a {
  padding: 10px;
  background-color: var(--corBotao);
  color: var(--corLetras);
  border-radius: 10px;
}

.ler-noticia a:hover {
  background-color: var(--corFundo);
  color: var(--corLetras);
}

.materia div h4 {
  margin: 0px;
  padding: 0px;
  /* background-color: aqua; */
}

.navegar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0px 20px; */
  /* border-bottom: 1px var(--corFundo) solid;
  border-top: 1px var(--corLetras) solid;
  border-right: 1px var(--corLetras) solid;
  border-left: 1px var(--corLetras) solid; */
  border-radius: 10px 10px 0px 0px;
  /* border-radius: 10px; */
}

.navegar a {
  /* width: 34px;
    height: 28px; */
  padding: 0px 6px;
  fill: var(--corFundo);
  /* border-bottom: 1px var(--corFundo) solid; */
  /* background-color: var(--corBotao); */
}

.navegar a:hover {
  fill: var(--corLetras);
  background-color: var(--corFundo);
  /* border-bottom: 1px var(--corFundo) solid; */
}

.navegar a:hover:nth-child(1) {
  background-color: var(--corFundo);
  border-top-left-radius: 10px;
}

.navegar a:hover:nth-child(3) {
  background-color: var(--corFundo);
  border-top-right-radius: 10px;
}

.nome-materia {
  font-size: 700 !important;
  margin-top: 10px;
  padding: 0px 20px !important;
  /* background-color: aqua; */
}

.materia .autor {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  margin: 20px 20px;
}

.materia .autor div {
  display: flex;
  align-items: center;
}

.materia .autor img {
  /* flex: 1 30px; */
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.materia .autor h4 {
  /* flex: 4; */
  margin: 0px 10px;
  padding: 0;
}

.materia .autor .titulo-publicacao {
  flex: 2;
  margin: 0px 10px;
  padding: 0;
  text-align: right;
}

.materia .data-materia {
  padding: 5px 20px !important;
  font-size: 400;
}

.noticias-ultimas .center-coluna .noticia .ultimas .imgem {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.noticias-ultimas .center-coluna .noticia .ultimas h3,
h4 {
  padding: 0px 20px 0px 20px;
  /* text-decoration: none; */
}


.noticias-ultimas .center-coluna .noticia .ultimas p {
  padding: 0px 20px 20px 20px;
  text-align: justify;
}

.ultimas .materia h5 {
  /* width: 100%; */
  padding: 10px 20px 10px 20px;
  text-align: right;
  /* padding: 10px 20px 10px 20px; */
  /* background-color: #7D55C7; */
}

.mais-lidas {
  flex: 1;
  background-color: var(--corLetras);
  border-radius: 10px;
  margin: 0px 0px 25px 0px;
}

.mais-lidas .titulo {
  border-radius: 5px;
  background: var(--corBotao);
  color: var(--corLetras);
  padding: 20px 0px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.mais-lidas .material {
  display: flex;
  padding: 20px 10px;
  /* background-color: aqua; */
}


.resumo1 {
  flex: 40%;
  display: flex;
  align-items: center;
  /* width: 100%; */
}

.resumo1 img {
  width: 100%;
  border-radius: 10px;
}

.resumo2 {
  flex: 60%;
  max-height: 80px;
  padding: 0px 10px;
  text-align: justify;
  /* width: 100%; */
  overflow: hidden;
  font-size: small;
}

.resumo2 h3 {
  padding: 6px 0px;
  text-align: justify;
}

.footer {
  flex: 1;
  /* padding: 20px 0px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--corLetras);
}

.footer h3 {
  flex: 1;
  width: 100%;
  display: flex;
}