<%- include('partials/header.html')%>
  <%- include('partials/noticia-destaque.html')%>


    <section class="noticias-ultimas">
      <div class="center-coluna">
        <h2 class="center-coluna-h2">Ultimas Publicações</h2>
        <div class="noticia">

          <%- include('partials/ultimas.html')%>
            <%- include('partials/mais-lidas.html')%>

        </div><!-- noticia -->
      </div><!-- center-coluna -->
    </section>

    <%- include('partials/footer.html')%>

      </body>

      </html>