<section class="section-noticia">
  <h1>Ultimas Noticias adicionadas</h1>
  <div class="noticias">

    <div class="ultimas">

      <div class="noticia">
        <img src="" alt="">
        <h2>noticia</h2>
        <span>
          <h3>nome</h3>
          <h3>natureza</h3>
        </span>
        <p>data noticia</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum dolore dicta quos iusto. Ad quo alias
          obcaecati vitae tempore, ex hic voluptatem rerum voluptates, consequatur molestiae accusantium labore
          asperiores.
        </p>
      </div>

      <div class="noticia">
        <img src="../../public/image/1688349913213.png" alt="">
        <h2>noticia</h2>
        <span>
          <h3>nome</h3>
          <h3>natureza</h3>
        </span>
        <p>data noticia</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum dolore dicta quos iusto. Ad quo alias
          obcaecati vitae tempore, ex hic voluptatem rerum voluptates, consequatur molestiae accusantium labore
          asperiores.
        </p>
      </div>

    </div>


    <div class="mais-lidas">
      <div class="">
        <img src="" alt="">
        <h2>noticia</h2>
        <span>
          <h3>nome</h3>
          <h3>natureza</h3>
        </span>
        <p>data noticia</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorum dolore dicta quos iusto. Ad quo alias
          obcaecati vitae tempore, ex hic voluptatem rerum voluptates, consequatur molestiae accusantium labore
          asperiores.
        </p>
      </div>
    </div>
  </div>

</section>