* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
  color: rgba(160, 224, 168, 0.233);
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  background-color: blueviolet;
}

div {
  background-color: rgba(7, 36, 11, 0.233);
}