<form action="" method="post" class="cadastro" enctype="multipart/form-data">
  <input type="text" name="titulo" id="titulo" placeholder="Titulo">
  <input type="date" name="data" id="data" placeholder="Data">
  <input type="text" name="autor" id="autor" placeholder="Autor">

  <select id="cars" name="categoria">
    <option value="Natureza">Natureza</option>
    <option value="Natureza">Politica</option>
    <option value="Natureza">Economia</option>
    <option value="Natureza">Saude</option>
  </select>

  <input type="file" name="imagem" accept="image/*" />
  <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
  <input type="submit" value="Enviar">
</form>