<div class="mais-lidas">
  <h2 class="titulo">Noticias mais lidas</h2>

  <div class="material">
    <div class="resumo1">
      <img src="/public/image/imagem.jpg" alt="">
    </div> <!-- resumo1 -->
    <div class="resumo2">
      <h3>Noticias mais lidas</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
        Corporis
        pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
        quod
        rerum.</p>
    </div><!-- resumo2 -->
  </div><!-- material -->

  <div class="material">
    <div class="resumo1">
      <img src="/public/image/imagem.jpg" alt="">
    </div> <!-- resumo1 -->
    <div class="resumo2">
      <h3>Noticias mais lidas</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
        Corporis
        pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
        quod
        rerum.</p>
    </div><!-- resumo2 -->
  </div><!-- material -->
  <div class="material">
    <div class="resumo1">
      <img src="/public/image/imagem.jpg" alt="">
    </div> <!-- resumo1 -->
    <div class="resumo2">
      <h3>Noticias mais lidas</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
        Corporis
        pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
        quod
        rerum.</p>
    </div><!-- resumo2 -->
  </div><!-- material -->
  <div class="material">
    <div class="resumo1">
      <img src="/public/image/imagem.jpg" alt="">
    </div> <!-- resumo1 -->
    <div class="resumo2">
      <h3>Noticias mais lidas</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
        Corporis
        pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
        quod
        rerum.</p>
    </div><!-- resumo2 -->
  </div><!-- material -->
  <div class="material">
    <div class="resumo1">
      <img src="/public/image/imagem.jpg" alt="">
    </div> <!-- resumo1 -->
    <div class="resumo2">
      <h3>Noticias mais lidas</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
        Corporis
        pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
        quod
        rerum.</p>
    </div><!-- resumo2 -->
  </div><!-- material -->
  <div class="material">
    <div class="resumo1">
      <img src="/public/image/imagem.jpg" alt="">
    </div> <!-- resumo1 -->
    <div class="resumo2">
      <h3>Noticias mais lidas</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
        Corporis
        pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
        quod
        rerum.</p>
    </div><!-- resumo2 -->
  </div><!-- material -->

</div><!-- mais-lidas -->