<section class="noticia-destaque">
  <div class="center">
    <div class="img-destaque">
      <div class="titulo-destaque-descricao">
        <h2>Floreta encantada</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt. Corporis
          pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa quod
          rerum Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
          Corporis
          pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa quod
          rerum.</p>
      </div>
      <img src="/public/image/imagem.jpg" alt="">
    </div>
  </div>
</section>