<div class="ultimas">
  <% for(let i=0; i < noticias.length; i++) { %>


    <div class="materia">
      <img class="imgem" src="<%= noticias[i].imagem %>" alt="">

      <div class="ler-noticia">
        <h4>
          <%= noticias[i].categoria %>
        </h4>
        <a href="/noticia/<%= noticias[i]._id %>">Ler</a>
      </div>
      <h3>
        <%= noticias[i].titulo %>
      </h3>
      <h5>
        Date Publicação <%= noticias[i].datapublicacao.getDate() %>/<%= noticias[i].datapublicacao.getMonth() + 1 %>/<%=
              noticias[i].datapublicacao.getFullYear() %>
      </h5>
      <p>
        <%= noticias[i].conteudo %>
      </p>
    </div>
    <% } %>

</div><!-- ultimas -->