<div class="ultimas">

  <div class="materia">
    <img class="imgem" src="/public/image/imagem.jpg" alt="">
    <div class="ler-noticia">
      <h4>Categocia A</h4>
      <a href="/noticia">Ler</a>
    </div>
    <h3>Notícia A</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
      Corporis
      pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
      quod
      rerum Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
      Corporis
      pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
      quod
      rerum.</p>
  </div>

  <div class="materia">
    <img class="imgem" src="/public/image/imagem.jpg" alt="">
    <div class="ler-noticia">
      <h4>Categocia A</h4>
      <a href="/noticia">Ler</a>
    </div>
    <h3>Noticia B</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
      Corporis
      pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
      quod
      rerum Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
      Corporis
      pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
      quod
      rerum.</p>
  </div>

  <div class="materia">
    <img class="imgem" src="/public/image/imagem.jpg" alt="">
    <div class="ler-noticia">
      <h4>Categocia A</h4>
      <a href="/noticia">Ler</a>
    </div>
    <h3>Noticia C</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
      Corporis
      pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
      quod
      rerum Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis qui laborum iste deserunt.
      Corporis
      pariatur nisi suscipit fugiat tempora cumque nesciunt? Repellendus, fugit sint molestias itaque ipsa
      quod
      rerum.</p>
  </div><!-- materia -->
</div><!-- ultimas -->